body {
  background: aliceblue;
}

.App {
  text-align: center;
}

div {
  font-family: 'Jost', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.nav {
  display: flex;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.left-column {
  flex-grow: 1;
}

.nav-link {
  margin-right: 24px;
}

.reflection-link {
  border: 1px solid black;
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.content {
  margin-left: 172px;
  margin-right: 172px;
  margin-top: 88px;
}

.author-name {
  border-radius: 10px;
  font-size: 25px;
}

.active {
  color: rgb(133, 165, 235);
  font-weight: bold;
}

.app {
  width: 1100px;
  margin: auto;
}

.Personas {
  font-weight: bold;
  font-size: 30px;
  background-color: rgb(133, 165, 235);
  padding: 30px;
  text-align: center;
}